:global .ant-layout {
	 background: #f2f2f2;
}
 .layoutDashboard {
	 height: 100vh;
	 text-align: left;
	 position: relative;
	 overflow-x: hidden;
}
 .layoutDashboard .siderPrimary {
	 background: #9b9b9b;
	 position: fixed;
	 left: 0;
	 z-index: 99;
	 height: 100vh;
	 overflow: auto;
	 margin: 0;
}
 .layoutDashboard .siderPrimary hr {
	 margin: 1.125rem 0;
	 border: none;
	 height: 0.1rem;
	 background-color: #555;
}
 .layoutDashboard .siderPrimary :global .ant-layout-sider-children {
	 width: auto;
}
 .layoutDashboard .ant-menu {
	 background: transparent;
}
 .layoutDashboard :global .ant-layout-header {
	 background: #9b9b9b;
	 height: auto;
	 padding: 1rem;
	 margin: 1.25rem;
	 line-height: inherit;
	 border-radius: 0.625rem;
	 transition: 0.2s;
}
 :global .ant-drawer-content-wrapper {
	 width: 15rem !important;
}
 .drawerSidebar .siderPrimary {
	 min-width: 15rem !important;
}
 .drawerSidebar :global .ant-drawer-body {
	 padding: 0rem;
}
 .layoutDashboard .contentAnt {
	 padding: 0rem !important;
	 margin: 0 1.25rem 0;
}
 @media (min-width: 62rem) {
	 .layoutDashboard {
		 overflow: auto;
	}
	 .layoutDashboard :global .ant-layout {
		 width: auto;
		 flex-shrink: 1;
		 margin-left: 17rem;
	}
	 .layoutDashboard .siderPrimary {
		 min-width: 15.625rem !important;
		 border-radius: 0.625rem;
		 margin: 1.25rem 0rem 0rem 1.25rem;
		 padding: 0.625rem;
		 height: calc(calc(100vh - 2.25rem));
	}
}
 